.gradle/
local.properties
#gradle.properties
.idea/*.xml
.idea/.*
.idea/*/*.xml
.idea/caches
!.idea/copyright/*.xml
!.idea/dictionaries/*.xml
!.idea/codeStyleSettings.xml
*.iml
.DS_Store
/build/*
captures/
.gradletasknamecache
.externalNativeBuild
*.apk
*.ap_
*.jks

!./.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
!./.idea/inspectionProfiles/profiles_settings.xml
!./.idea/inspectionProfiles/ktlint.xml
!./.idea/workspace.xml

vendor/bundle
.bundle

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output