.gradle/
local.properties
gradle.properties
.idea/*.xml
.idea/.*
.idea/*/*.xml
!.idea/copyright/*.xml
!.idea/dictionaries/*.xml
!.idea/codeStyleSettings.xml
*.iml
.DS_Store
/build/*
processor/build/*
library/build/*
annotations/build/*
example/build/*
captures/
.gradletasknamecache
.externalNativeBuild
*.apk
*.ap_
*.jks
